footer
    div.Footer_Box
        div.Footer_Writing
            p ZFC(Zeus Fighting Championship)
            p MMA(Mixed Martial Arts) | 청주 그랜드 플라자 호텔
        div.Footer_Img
            img(src="../static/Logo_1.gif")
            img(src="../static/Logo_2.gif")
            img(src="../static/Logo_3.gif")
            img(src="../static/Logo_4.gif")
            img(src="../static/Logo_5.gif")
            img(src="../static/Logo_6.gif")