header
    div.Top_Bar
        div.Logo 
            img(src="../static/Logo.gif")
        div.Menu_Bar
            div.Menu_list#First_list 제우스FC
            div.Menu_list 소개
            div.Menu_list 선수단
            div.Menu_list 이벤트
            div.Menu_list 소식
            div.Menu_list 동영상
            div.Menu_list 협&nbsp;회
            div.Menu_list 스폰서
        div.Link_Bar
            i.fab.fa-facebook-square#facebook
            i.fab.fa-instagram-square#instagram
            i.fab.fa-twitter-square#twitter
            a(href="https://www.youtube.com/channel/UCaVkzB2TX8muGKAcQ0D2Cgg" title="ZEUS 유튜브" target="_blank")
                i.fab.fa-youtube-square#youtube 