doctype html
html
  head
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/style.css" rel="stylesheet">
      title ZEUS FC Sponsorship Proposal
  body
      include partials/header
      nav
          video(src="../static/main.mp4" autoplay loop controls)
      main
          h1#title_1.Main_title 제우스 FC 뉴스
          h3#title_2.Main_title JEUS FC NEWS
          section
              div.News_Box
                  img(src="../static/News1.jpg")
                  div.Writing_Box
                      p 코로나19로 연기된 제우스FC 11월 14일 개최…유수영 VS 황성주 초대 밴텀급 타이틀전이 메인이벤트
              div.News_Box
                  img(src="../static/News2.jpg")
                  div.Writing_Box
                      p 제우스FC 004 대진 공개...주짓수 vs 킥복싱 맞대결
              div.News_Box
                  img(src="../static/News3.jpg")
                  div.Writing_Box
                      p 조인경 제우스FC 회장 "상황 어렵지만 전화위복 기회 올 것"
              div.News_Box
                  img(src="../static/News4.jpg")
                  div.Writing_Box
                      p 제우스 FC 03 언더카드 계체량 행사
      include partials/footer