<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZEUS FC Sponsorship Proposal</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="Top_Bar">
        <div class="Logo" href="index.html">
          <img src="../static/Logo.gif" />
        </div>
        <div class="Menu_Bar">
          <div class="Menu_list" id="First_list">제우스FC</div>
          <div class="Menu_list">소개</div>
          <div class="Menu_list">선수단</div>
          <div class="Menu_list">이벤트</div>
          <div class="Menu_list">소식</div>
          <div class="Menu_list">동영상</div>
          <div class="Menu_list">협&nbsp;회</div>
          <div class="Menu_list">스폰서</div>
        </div>
        <div class="Link_Bar">
          <i class="fab fa-facebook-square" id="facebook"></i>
          <i class="fab fa-instagram-square" id="instagram"></i>
          <i class="fab fa-twitter-square" id="twitter"></i>
          <i class="fab fa-youtube-square" id="youtube"></i>
        </div>
      </div>
    </header>
    <nav>
      <video src="../static/main.mp4" autoplay loop controls></video>
    </nav>
    <main>
      <h1 id="title_1" class="Main_title">제우스 FC 뉴스</h1>
      <h3 id="title_2" class="Main_title">JEUS FC NEWS</h3>
      <section>
        <div class="News_Box">
          <img src="../static/News1.jpg" />
          <div class="Writing_Box">
            <p>
              코로나19로 연기된 제우스FC 11월 14일 개최…유수영 VS 황성주 초대
              밴텀급 타이틀전이 메인이벤트
            </p>
          </div>
        </div>
        <div class="News_Box">
          <img src="../static/News2.jpg" />
          <div class="Writing_Box">
            <p>제우스FC 004 대진 공개...주짓수 vs 킥복싱 맞대결</p>
          </div>
        </div>
        <div class="News_Box">
          <img src="../static/News3.jpg" />
          <div class="Writing_Box">
            <p>조인경 제우스FC 회장 "상황 어렵지만 전화위복 기회 올 것"</p>
          </div>
        </div>
        <div class="News_Box">
          <img src="../static/News4.jpg" />
          <div class="Writing_Box">
            <p>제우스 FC 03 언더카드 계체량 행사</p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="Footer_Box">
        <div class="Footer_Writing">
          <p>ZFC(Zeus Fighting Championship)</p>
          <p>MMA(Mixed Martial Arts) | 청주 그랜드 플라자 호텔</p>
        </div>
        <div class="Footer_Img">
          <img src="../static/Logo_1.gif" />
          <img src="../static/Logo_2.gif" />
          <img src="../static/Logo_3.gif" />
          <img src="../static/Logo_4.gif" />
          <img src="../static/Logo_5.gif" />
          <img src="../static/Logo_6.gif" />
        </div>
      </div>
    </footer>
  </body>
</html>
